.link-underline {
    text-decoration: none;
    position: relative;
    &:after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        transform-origin: bottom left;
        transition: transform 0.25s ease-out;
        @apply bg-dark;
    }
    &:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
    &.link-underline--primary {
        &:after {
            @apply bg-primary;
        }
    }
    &.link-underline--secondary {
        &:after {
            @apply bg-secondary;
        }
    }
}

.width-keyframes {
    @keyframes width {
        0% {
            width: 0;
        }
        100% {
            width: 100%;
        }
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: all 0.2s;
}
.fade-enter-from,
.fade-leave-to {
    opacity: 0;
    filter: blur(1rem);
}

.layout-enter-active,
.layout-leave-active {
    transition: all 0.4s;
}
.layout-enter-from,
.layout-leave-to {
    filter: grayscale(1);
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
    transition: all 0.2s;
}
.slide-left-enter-from {
    opacity: 0;
    transform: translate(50px, 0);
}
.slide-left-leave-to {
    opacity: 0;
    transform: translate(-50px, 0);
}
.slide-right-enter-from {
    opacity: 0;
    transform: translate(-50px, 0);
}
.slide-right-leave-to {
    opacity: 0;
    transform: translate(-50px, 0);
}
