@mixin icon($name, $svg) {
    &.ic-#{$name} {
        -webkit-mask: url("data:image/svg+xml;utf8,#{$svg}") 0 0 / contain;
        -webkit-mask-repeat: no-repeat;
    }
}

.ic {
    display: inline-block;
    width: 1rem;
    background: currentcolor;

    &::before {
        content: "";
        display: block;
        padding-top: 100%;
    }

    @include icon(
        "arrow-up-right",
        '<svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="none"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 16 16 1H1M16 1v15"/></svg>'
    );
    @include icon(
        "chevron-up",
        '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/></svg>'
    );
    @include icon(
        "long-arrow-right",
        '<svg xmlns="http://www.w3.org/2000/svg" width="57" height="8" viewBox="0 0 57 8" fill="none"><path d="M56.3536 4.35355C56.5488 4.15829 56.5488 3.84171 56.3536 3.64645L53.1716 0.464466C52.9763 0.269204 52.6597 0.269204 52.4645 0.464466C52.2692 0.659728 52.2692 0.976311 52.4645 1.17157L55.2929 4L52.4645 6.82843C52.2692 7.02369 52.2692 7.34027 52.4645 7.53553C52.6597 7.7308 52.9763 7.7308 53.1716 7.53553L56.3536 4.35355ZM0 4.5H56V3.5H0V4.5Z" fill="currentColor"/></svg>'
    );
}
